footer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html, body{
    height: 100%;
    margin: 0;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}