* {
    box-sizing: border-box; /* include padding and border in width */
}

body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
}

.voting-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 2px;
}

.voting-btn {
    flex:1;
    transition: background-color 0.3s ease;
}

.voting-btn:hover {
    background-color: #d0e1ff; /* soft blue hover */
    cursor: pointer; /* optional */
}

.voting-row-element {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    border-radius: 7px;
    font-size: 20px;
}

.voting-box {
    display: flex;
    flex-direction: column;
}

.vote-total-display {
    margin: 0 0 0 5px;
    padding: 5px;
}

.time-box {
    display: inline-flex;
    flex-direction: row;
    border: black 2px solid;
    border-radius: 10px;
    padding: 5px;
    flex: 1;
}

.time-box-right {
    flex: 1;
}

.time-info-box {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    width: 200px;
    flex: 2;
}

.weather-icon {
    width: 50px;
    height: 50px;
}

#new-time {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 5px;
    border-top: 2px black solid;
}

#times {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 2px black solid;
    border-radius: 7px;
    margin: 10px;
    max-height: 80vh;
    overflow-y: auto;
    min-width: 20vw;
}

#time-boxes::-webkit-scrollbar {
    width: 8px;
}

#time-boxes::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.3);
    border-radius: 4px;
}

#time-boxes {
    padding: 10px;
    display: flex;
    max-height: 60vh;
    min-height: 10vh;
    width: 100%;
    max-width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
    gap: 10px;
}
