@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
.navbar .dropdown-menu {
    background-color: #3e65a3; /* slightly darker than bg-primary */
}

.navbar .dropdown-item {
    color: #fff;
}

.navbar .dropdown-item:hover,
.navbar .dropdown-item:focus {
    background-color: #244c87;
}

.navbar-brand {
    transition: color 0.3s ease;
    font-family: 'Knewave', cursive;
}
.navbar-brand:hover, .navbar-brand:focus {
    color: #000000;
}

footer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.body {
    flex: 1;
}